.fix-icon ul {
    padding-left: 1rem;
    
}
.fix-icon ul li:hover {
   background-color: rgb(222, 222, 222);
    
}
.fix-icon ul li{
    list-style: none;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
  flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 10px;
}
.fix-icon ul{
    padding-left: 3px;
}
.fix-icon{
    position: fixed;
    width: 80px;
    height: calc(90vh - 64px);
    background-color: #fcfcfc;
    top: 64px;
   left: 0;
    
   
}
.sideBar ul li{
    list-style: none;
    height: 40px;
    display: flex;
  
    align-items: center;
    padding: 4px;
    border-radius: 8px;
}
.sideBar ul li:hover{
    background-color: rgb(222, 222, 222);
}
.sideBar ul{
    padding-left: 19px;
    padding-top: 3px;
}
.sideBar {
    position: fixed;
  top: 64px;
  left: 0;
  width: 220px;
  height: calc(100vh - 64px);
  background-color: #fcfcfc;
  overflow-y: hidden;  /* Enable vertical scrolling */
 
  
}
.sideBar:hover {
    overflow-y: auto; 
}

@media screen and (max-width:991px ) {
    .sideBar{
        display: none;
        
    }
    }
@media screen and (max-width:768px ) {
    .fix-icon{
        display: none;
        
    }
    }

