.fullCard{
    border: none;
    
    width: 16rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
   
}

.fullCard:hover {
  transform: translate(-5px, -5px);
  z-index: 1;
  height: 300px;
  height:320px;
  background-color: #ebe5e5;
  border-radius: 10px;
}
@media screen and (min-width:1340px) {
  .fullCard{
    
    width: 16rem;
}
}
@media screen and (max-width:1340px) {
  .fullCard{
    
    width: 13rem;
}
}
@media screen and (max-width:1175px) {
  .fullCard{
    
    width: 12rem;
}
}
@media screen and (max-width:1085px) {
  .fullCard{
    
    width: 15rem;
}
}
@media screen and (max-width:1035px) {
  .fullCard{
    
    width: 14rem;
}
}
@media screen and (max-width:991px) {
  .fullCard{
    
    width: 16rem;
}
}
@media screen and (max-width:935px) {
  .fullCard{
    
    width: 23rem;
}
}
@media screen and (max-width:900px) {
  .fullCard{
    
    width: 20rem;
}
}
  
@media screen and (max-width:800px) {
  .fullCard{
    
    width: 100%;
}
}
  
 
  
  .channel-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3px;
  }
  .content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .title{
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  .channe-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
  }
 
 
  
  .onHoverBtn{
    border-radius: 20px;

    font-size: 14px;
    border: 1px solid #b6afaf;
    width: 110px;

  }
  .watchAndAdd {
    visibility: hidden;
    
 
}

.card:hover .watchAndAdd {
    visibility: visible;
}
  
 