.toggleLine{
    width: 15px;
    height: 2px;
    background-color: black;
}
.off-canvas {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: left 0.3s;
  }
  
  .off-canvas.open {
    left: 0;
  }
  
  .off-canvas.closed {
    left: -250px;
  }